#####################
##  ignore cached datasets

worldcup/
worldcup2/
clubworldcup/
interconticup/


matchday/
upcoming/
competitions/
seasons/

####
#m  temp directories incl. more/ & min/
##

tmp/
tmp2/
tmp3/
tmp4/
more/
min/






