#####################
##  ignore cached datasets

worldcup/
worldcup2/
clubworldcup/
interconticup/


matchday/
upcoming/
competitions/

####
#m  temp directories incl. more/
##

tmp/
tmp2/
tmp3/
tmp4/
more/




